body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Franklin Gothic Medium",
    "Arial Narrow", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas,
    "Franklin Gothic Medium", monospace;
}
